[Desktop Entry]
Name=Transportadora
Comment=Manages cargo
Exec=transportadora.py
Terminal=false
Type=Application
Icon=gnome-package
StartupNotify=true
Categories=GNOME;GTK;System;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dconf
X-GNOME-Bugzilla-Component=editor
X-GNOME-Bugzilla-Version=0.12.1
